<a href="/signIn"> signIn</a>
<a href="/signUp"> signUp</a>

{{#each results}}
<div style="text-align:center">

  <h2>{{this.fullname}}</h2>
  <p> {{title}}</p>
  <p> {{descriptions}}</p>

</div>
{{/each}}