<form action='/signin' method="POST">
    <label>
         Email 
    <input type="email" name='email'  placeholder="insert your email address" required>
    </label>
    <label>
        password 
    <input type="password" name='password' placeholder="insert your password " required>
    </label>
    <button > login</button>
</form>