<form action="/signUp" method="POST">
    <label>
        fullname  
    <input type="text" placeholder="add your full name" name="fullname" required>
    </label>
    <label>
         Email 
    <input type="email" placeholder="add your email address" name="email" required>
    </label>
    <label>
        password 
    <input type="password" placeholder="add your password " name="password" required>
    </label>
    <label>
        confirm password 
    <input type="password" placeholder="confirm your password " name="confirmpassword" required>
    </label>
    <label>
        <input type="submit">  
    </label>
</form>